@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

.logo{
    max-width: 100px;
}

.madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.madimi-one-regular h3{
    font-size: 1.5em;
}

.cabecalho{
    
    margin-top: 3em;
    margin-bottom: 2em;
}

.cabecalho h1{
    font-weight: 700;
    color: rgb(87, 87, 87);
    font-size: 3em;
    font-family: "Madimi One", sans-serif;
}

.cabecalho p{
    color: rgb(44, 44, 44);
    font-size: 1em;
    font-weight: 500;
} 

.card{
    width: 45em;
    border-radius: 20px;
    border: none;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-img-top{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.tempo-texto {
    font-size: 1em;
    font-weight: 400;
    color: rgb(87, 87, 87);
    font-family: "Madimi One", sans-serif;
}

.rodape a {
    text-decoration: none; 
}

.rodape a:hover {
    text-decoration: underline;
}
